@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --primary-color: #0b0b0b;
    --secundary-color: #1c1c1c;
    --text-color: #E4d6a9;
    --tercery-color: #650207;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

/* menu responsivo para tablets e celulares*/
body {
    background-repeat: no-repeat;
    background-color: var(--primary-color);
    transition: background-color 0.5s ease;
}

.header {
    display: flex;
    align-items: center;
    padding-inline: 7%;
    color: var(--text-color);
    border-bottom: 1px solid rgba(225, 255, 255, 0.03);
    background-color: var(--secundary-color);
}

/* Lado esquerdo do menu: logo + páginas*/
.nav-left {
    display: flex;
    align-items: center;
    gap: 18px;
    min-width: 0;
}

.titulo-principal {
    color: var(--text-color);
    margin: 20px 7%;
}

/* menu links pequenos */
.menu-desk {
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu-item {
    display: inline-flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    white-space: nowrap;
    padding: 20px 7%;
    border-radius: 8px;
}

.menu-item:hover {
    background-color: var(--text-color);
    transition: 1s ease;
}

/* Centro do menu */
.nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
    min-width: 0;
}

/*Formulário de busca */
.pesquisa-form {
    position: relative;
    width: 100%;
    max-width: 520px;
}

/* input */
#Pesquisar {
    width: 100%;
    padding: 10px 44px 10px 16px;
    border-radius: 40px;
    border: 2px solid var(--text-color);
    background: var(--secundary-color);
    color: var(--text-color);
    outline: none;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.01);
}

#Pesquisar::placeholder {
    color: var(--text-color);
}

/* botão dentro do input(ícone)*/
.pesquisar-btn {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    height: 32px;
    width: 36px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    color: var(--text-color);
    cursor: pointer;
}

/* Lado direito do menu */
.nav-right {
    color: var(--text-color);
    text-decoration: none;
    padding: 6px 8px;
    border-radius: 8px;
}

.right-item {
    color: var(--text-color);
    text-decoration: none;
    padding: 6px 34px;
    border-radius: 8px;
}

.botao-login {
    background-color: var(--tercery-color);
    color: white;
    padding: 15px 50px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.botao-login:hover {
    background-color: var(--secundary-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    transition: 1s ease;
}


/* menu versão responsiva (Tablet e Celulares)*/
.header-responsivo {
    display: none;
    justify-content: space-between;
    padding: 4px 7%;
    background-color: var(--secundary-color);
}

.pesquisa-responsivo button {
    background-color: transparent;
    border: none;
    font-size: 22px;
    color: var(--text-color);
    cursor: pointer;
}

.menu {
    display: none;
}

.nav-list {
    display: none;
}

.menu-lateral {
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    color: var(--text-color);
    background-color: var(--secundary-color);
    z-index: 50;
    box-shadow: 5px 5px 5px var(--secundary-color);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.menu-lateral.ativo {
    right: 0;
}

.menu-lateral ul {
    list-style-type: none;
    padding: 0;
    margin-top: 60px;
}

.menu-lateral ul li {
    padding: 15px 30px;
}

.menu-lateral ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    gap: 10px;
}

.menu-lateral ul li a:hover {
    transition: 0.3s ease;
    color: var(--secundary-color);
}

.menu-lateral ul li a i {
    font-size: 24px;

}

.menu-lateral ul li:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
}

.menu-lateral ul li a i:hover {
    transition: 0.3s ease;
    transform: translateX(5px) rotate(5deg);
}

.botao-menu {
    background-color: var(--secundary-color);
    color: var(--text-color);
    position: fixed;
    right: 50px;
    top: 20px;
    z-index: 3;
    border-radius: 5px;
    font-size: 24px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.5s ease;
}

.botao-menu:hover {
    background-color: var(--text-color);
    color: var(--secundary-color);
    transition: 1s;
}

.botao-menu.ativo {
    right: 320px;
    z-index: 55;
}


/* Área do Sobre*/
.conteudo {
    transition: all 0.5s ease;
    min-height: 90vh;

}

.title-sobre {
    margin: 10px;
    font-size: 50px;
    color: #fff;
}

/* Fundo escuro quando menu abrir */
.background {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: .3s ease;
    visibility: hidden;
    z-index: 40;
}

.background.ativo {
    visibility: visible;
    opacity: 1;
}

.container-sobre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    color: #fff;
}

.conteudo-container {
    max-width: 500px;
}

.title-sobre {
    font-size: 36px;
    margin-bottom: 20px;
}

.conteudo-container p {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.6;
    color: #ccc;
}

/* Área de contato*/
.contato {
    background-color: #111;
    width: 400px;
    padding: 30px;
    margin: 40px 60px;
    border-radius: 6px;
    color: var(--text-color);
}

.contato h2 {
    margin-bottom: 20px;
    font-size: 18px;
}

.linha {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.linha input {
    width: 85%;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #b0bac37a;
}

input::placeholder {
    color: var(--text-color);
}

textarea {
    height: 100px;
    resize: none;
}

textarea::placeholder {
    color: var(--text-color);
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #f0e5b2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}


/* FOOTER Desktop versão */
.informacoes {
    color: var(--text-color);
    padding: 40px 60px;
}

.info-link {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 100px;
}

.info-link a:hover {
    color: white;
    transition: 0.5s ease;
}

.info-title {
    font-size: 40px;
    font-weight: bold;
}

.rede-sociais {
    display: flex;
    gap: 40px;
}

.rede-sociais .rede {
    display: flex;
    flex-direction: column;
}

.rede {
    width: 45px;
    height: 45px;
    border: 1px solid var(--text-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: 0.3s ease;
    text-decoration: none;
}

.rede a {
    text-decoration: none;
    margin-bottom: 8px;
    font-weight: 500;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid #7c838a;
}

.rede i {
    font-size: 14px;
}

.info-coluna1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-coluna1 a {
    color: var(--text-color);
    text-decoration: none;
}

.info-coluna {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-coluna a {
    color: var(--text-color);
    text-decoration: none;
}

/* FOOTER TABLET */
.informacoes-tablet {
    display: none;
}

.icon {
    width: 45px;
    height: 45px;
    border: 1px solid var(--text-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: 0.3s ease;
    text-decoration: none;
}

.insta i {
    background: linear-gradient(45deg, #feda75, #d62976, #962fbf);
    background-clip: text;
    color: transparent;
}

.face i {
    color: #0075ff;
}

.twitter i {
    color: #00b2ff;
}

.mail i {
    color: #ff0303;
}

.icon:hover {
    transform: scale(1.1);
}

/* FOOTER MOBILE */
.footer-mobile {
    display: none;
}

/* Responsividade versão Tablet */
@media (min-width: 710px) and (max-width: 1133px) {

    .header {
        display: none;
    }

    .header-responsivo {
        display: flex;
        align-items: center;
        padding-inline: 3%;
        color: var(--text-color);
        border-bottom: 1px solid rgba(225, 255, 255, 0.03);
        background-color: var(--secundary-color);
    }

    /* Lado esquerdo do menu: logo + páginas*/
    .nav-left {
        display: none;
    }

    /* Centro do menu */
    .nav-center {
        display: none;
    }

    /* Lado direito do menu */
    .nav-right {
        display: none;
    }

    .titulo-principal {
        color: var(--text-color);
        margin: 20px 7%;
    }

    .nav-list {
        display: none;
    }

    .pesquisa-responsivo {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .icon-pesquisa {
        display: inline-flex;
    }

    .menu {
        display: block;
    }

    .botao-menu {
        display: block;
    }

    .menu-lateral {
        display: block;
    }

    /* Área do Sobre*/
    .container-sobre {
        flex-direction: column;
    }

    /* Formulário */
    .container {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        margin-top: 30px;
    }

    .contato {
        width: 70%;
        margin: 30px auto;
    }

    /* FOOTER Desktop versão */

    .informacoes {
        display: none;
    }

    /* Mobile versão */
    .footer-mobile {
        display: none;
    }

    /* FOOTER TABLET */
    .informacoes-tablet {
        display: block;
    }

    .informacoes-container-tablet {
        background-color: #1d1d1d;
        padding: 40px;
        color: var(--text-color);
    }

    .info-title-tablet {
        font-size: 30px;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .informacoes-container-tablet {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;
    }

    .footer-col h3 {
        font-size: 14px;
        margin-bottom: 15px;
        color: var(--text-color);
    }

    /* LISTAS DO FOOTER */
    .footer-col ul {
        list-style: none;
        padding: 0;
        margin-top: 20px;
    }

    .footer-col ul li {
        margin-bottom: 10px;
    }

    .footer-col ul li a {
        text-decoration: none;
        color: var(--text-color);
        transition: 0.2s ease;
    }

    .footer-col ul li a:hover {
        color: #ffffff;
    }

    /* ícone das redes sociais */

    .rede-sociais-tablet {
        display: flex;
        gap: 15px;
        margin-bottom: 20px;
    }

    .services {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        margin-bottom: 10px;
    }

    .services a {
        text-decoration: none;
        color: var(--text-color);
    }

    .services a:hover {
        color: white;
        transition: 0.5s ease;
    }

    /* TEXTO FINAL */
    .footer-bottom {
        text-align: center;
        margin-top: 40px;
        text-transform: uppercase;
    }

    .footer-bottom p {
        margin: 10px 0;
        color: var(--text-color);
    }
}

/* Responsividade versão mobile */

@media (min-width: 370px) and (max-width: 710px) {


    /* Menu versão Desktop */
    .nav-left {
        display: none;
    }

    /* Centro do menu */
    .nav-center {
        display: none;
    }

    /* Lado direito do menu */
    .nav-right {
        display: none;
    }

    /* Menu responsivo */

    .header-responsivo {
        display: flex;
    }

    .titulo-principal {
        color: var(--text-color);
        margin: 20px 7%;
    }

    .nav-list {
        display: none;
    }

    .pesquisa-responsivo {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .icon-pesquisa {
        display: block;
    }

    .menu {
        display: block;
    }

    .botao-menu {
        display: block;
    }

    .menu-lateral {
        display: block;
    }

    .conteudo {
        height: 80vh;
    }

    /* Área do Sobre*/
    .container-sobre {
        flex-direction: column;
        padding: 16px;
    }

    /* Formulário */
    .container {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        margin-top: 30px;
    }

    .contato {
        width: 70%;
        margin: 30px auto;
    }

    .image-container img {
        width: 330px;
    }

    /* Footer versão (Desktop)*/
    .informacoes {
        display: none;
    }

    /*Footer versão (Tablet)*/
    .informacoes-tablet {
        display: none;
    }

    /*Footer versão (Mobile)*/
    .footer-mobile {
        display: block;
        padding: 40px 20px;
    }

    .info-title-mobile {
        color: var(--text-color);
        font-size: 30px;
        margin-bottom: 15px;
    }

    .info-title-mobile {
        color: var(--text-color);
        font-size: 30px;
        margin-bottom: 15px;
    }

    .info-rede-mobile {
        display: flex;
        gap: 15px;
    }

    .footer-links {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        flex-wrap: wrap;
        gap: 40px;
    }

    .coluna-vertical {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .coluna-vertical li {
        list-style: none;
    }

    .coluna-horizontal {
        display: flex;
        flex-direction: row;
        gap: 25px;
        flex-wrap: wrap;
    }

    .coluna-horizontal li {
        list-style: none;
    }

    .footer-links a {
        text-decoration: none;
        color: var(--text-color);
    }

    .footer-links a:hover {
        color: white;
        transition: 0.5s ease;
    }

    .footer-copy {
        color: var(--text-color);
        margin-top: 50px;
    }
}